02_Classification.ipynb
03_Regression.ipynb
04_Advanced_Supervised_ML.ipynb
05_ensemble_learning.ipynb
06_Unsupervised_Learning_Clustering.ipynb
DSML2526.code-workspace
.claude/settings.local.json
.github/copilot-instructions.md
Abgabe/.ipynb_checkpoints/Assignment_01_3214721-checkpoint.ipynb
Abgabe/.ipynb_checkpoints/Assignment_02_3214721-checkpoint.ipynb
Hausarbeit/DaPy_Checklist _Data Pre-Processing.pdf
Hausarbeit/Data Science and Machine Learning Assignment WiSe 25.pdf
Vorlesungen/01_Overview.pdf
Vorlesungen/02_Classification.pdf
Vorlesungen/03_Regression.pdf
Vorlesungen/04_Advanced_Supervised_ML01.pdf
Vorlesungen/05_Ensemble Learning.pdf
Vorlesungen/06_Cluster Analysis.pdf
